<style>
body {
  background-color: #07043a ;
  background-image: url('http://i.imgur.com/lAWUIZf.gif');
  background-repeat: no-repeat;
  background-size: 100%;
}
h2 {
  color: #7eeadf;
  font-family: arial;
  font-size: 190%;
  background-color: ;
  padding: 15px; 
}
            
legend {
  color: #7eeadf;
  font-family: arial;
  background-color: none;
}
fieldset {
  color: white;
  font-family: arial;
  font-size: 100%;
  background-color: ;
}
</style>
